@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: grid;
    background-image: url("bg3.jpg");
    align-content: center;
    min-height: 100vh;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}

.image {
    background: url("assets/aboutus1.png") center/cover no-repeat;
    margin-top: 35px;
    border-radius: 20px 0 0 20px;
}

.content {
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    border-radius: 0 20px 20px 0;
}

.content h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}

.content span {
    height: 0.5px;
    width: 80px;
    background: rgb(0, 0, 0);
    margin: 30px 0;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

.links {
    margin: 15px 0;
}

.links li {
    border: 0.5px solid rgb(0, 0, 0);
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.links li a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.links li:hover {
    border-color: #d60606;
}

.links li:hover a {
    color: #d60606;
}

.vertical-line {
    height: 30px;
    width: 0.5px;
    background: rgb(0, 0, 0);
    margin: 0 auto;
}

.icons {
    display: flex;
    padding: 15px 0;
}

.icons li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.icons li i {
    font-size: 26px;
    opacity: 0.8;
}

.icons li i:hover {
    color: #d60606;
}

@media(max-width: 992px) {
    section {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .image {
        height: 100vh;
    }
    .content {
        height: 100vh;
    }
    .content h2 {
        font-size: 20px;
        margin-top: 50px;
    }
    .content span {
        margin: 20px 0;
    }
    .content p {
        font-size: 14px;
    }
    .links li a {
        font-size: 14px;
    }
    .links {
        margin: 5px 0;
    }
    .links li {
        padding: 6px 10px;
    }
    .icons li i {
        font-size: 15px;
    }
}

.nav-item {
    margin-left: 50px;
}

.navbar-nav {
    margin-left: 30%;
}

.result hidden {
    margin-right: 20%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 0, 0);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 0, 0, 0.9);
}

.navbar-light .navbar-brand {
    color: #000000;
    font-size: 1.4rem;
}

.navbar-light .navbar-brand:hover {
    color: #ff0000;
}

.content p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.7;
}