@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    background-image: url("assets/bg3.jpg");
    /*background: radial-gradient(circle, rgba(238, 238, 238, 1) 0%, rgba(228, 228, 228, 1) 100%);*/
    font-family: 'Ubuntu', sans-serif;
    color: #303030;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#navigationBar ul li a:hover {
    color: #fcd000;
}

.nav-item {
    margin-left: 50px;
}

.navbar-nav {
    margin-left: 30%;
}

.result hidden {
    margin-right: 20%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 0, 0);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 0, 0, 0.9);
}

.navbar-light .navbar-brand {
    color: #000000;
    font-size: 1.4rem;
}

.navbar-light .navbar-brand:hover {
    color: #ff0000;
}

.py-5 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.rounded-3 {
    border-radius: .4rem!important;
}

.img2 {
    float: right;
}